{% extends 'User/home_index.html' %}
{% block body %}

<body>
<form action="/myapp/u_view_rejected_booking_post/#about" method="post">
{% csrf_token %}
    <table class="px fa-pull-left">
  <tr>
    <th>From Date</th>
    <td><input type="date" class="form-control" required name="textfield" id="textfield" /></td>
    <td>To Date</td>
    <td><input type="date" class="form-control" required name="textfield2" id="textfield2" /></td>
    <td><input type="submit" name="button" class="btn btn-success" id="button" value="Search" /></td>
  </tr>
</table>
    <table class="table table-bordered table-striped">
  <tr>
    <th>S/no</th>
    <th>Date</th>
    <th>Photographer Info</th>
    <th>From Date</th>
    <th>To Date</th>
    <th>Categoty</th>
    <th>Description</th>
    <th>Status</th>
{#    <td>address</td>#}
    <td></td>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.date }}</td>
    <td>{{ i.PHOTOGRAPHER.name }}<br>{{ i.PHOTOGRAPHER.email }}<br>{{ i.PHOTOGRAPHER.phone }}</td>
    <td>{{ i.from_d }}</td>
    <td>{{ i.to_d }}</td>
    <td>{{ i.CATEGORY.name }}</td>
    <td>{{ i.description }}</td>
    <td>{{ i.status }}</td>
    <td><a href="/myapp/u_delete_booking/{{ i.id }}" onclick="return confirm('Are You Sure?')" class="btn btn-danger"  >Delete</a></td>
  </tr>
    {% endfor %}
</table>
</form>
</body>
{% endblock %}